* {
   margin: 0;
   padding: 0;
}

body {

   background-image: url("sample-pattern.png");/*Set Image Background*/
}

header {
   background-color: #FFFFFF;
   width: 100%;
   position: fixed;
   height: 50px;
}

#logo {
   float: left; /* Set Value here */
   padding-top: 2px;/* Set Padding Top */
   margin-left: 6px;/* Set Margin Left */
   margin-top: 5px;/* Set Margin Top */
   padding-bottom: 7px;/* Set Padding Bottom */
   background-image: url("sample-logo.png");
   background-size: 150px;
   width: 150px;
   height: 25px;
}

nav {
   float: right; /* Set Value here */
   text-align: center; /* Set Align Text */
   padding-right: 20px;/* Set Padding Right */
   margin-top: 20px;/* Set Margin Top */
}

li {
   display: inline-block;
   margin-right: 15px; /* Set Margin Right */
   margin-bottom: ;/* Set Margin Bottom */
   color: rgb(95, 92, 93);/* Set Color */
}

a {
   text-decoration: none;
}

li a {
   display: block;
   padding: 10px 15px;
}

li a:hover {
   background-color: blue;
   color: #FFFFFF;
}

h1 {
   padding-top: 100px;
   color: rgb(95, 93, 93);
   text-align: center; /* Set Align Text */
   margin-bottom: 42px;/* Set Margin Bottom */
   font-size : 36px;/* Set Font Size */

}

h3 {
   color:;/* Set Color */
   padding-bottom:;/* Set Padding Bottom */
}

#article-list article {
   width: 50em;/* Set margin */
   margin-left: auto;
   margin-right: auto;
   text-align:/* Set Align Text */
   background-color : white;/* Set Background color */
   padding: 15px;/* Set Padding */
   margin-bottom: 7px;/* Set margin-bottom */
}

footer {
   width: center; /* Set value here */
   background-color: black;/* Set Background color */
   color: white;/* Set Color */
   text-align: center;/* Set Align Text */
   padding: 10px;/* Set Padding */
   font-size: 24px; /* Set font Size */
   margin-top: 30px;/* Set Margin Top */
}
